version: '3.8'
services:
  web:
    build: ./app
    ports:
      - "81:80"
    volumes:
      - ./app/src:/var/www/html
    depends_on:
      - db
    environment:
      - PHP_DISPLAY_ERRORS=1
      - APP_ENC_KEY:"q16N1/nKYKAX+vuVagU9gM6j5Jk9qdhVCLxYfBBsSGw="
  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
volumes:
  db_data:
