/* Oinarrizko estiloak: diseinua ematen du (puntu 1) */
/* Iruzkinak: aldatu gustura, errespetatu lizentziak kanpoko tenplateak erabiltzen badituzu*/
body { font-family: Arial, sans-serif; margin: 20px; }
h1,h2 { color: #333; }
nav a { margin-right: 10px; }
